@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0f172a; /* Màu slate-900 */
}

.bg-cosmic {
  background-image: url('./assets/space.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0f172a;
}
.openseadragon-container {
  overflow: visible !important;
}